@import "tailwindcss";

@theme {
  --color-primary: #3B413C;
  --color-secondary: #9DB5B2;
  --color-accent: #C4AEF1;
  --color-background: #EFEFEF;
  --color-content-background: #FFFFFF;
  --color-primary-700: oklch(0.35 0.02 140); 
}

/* Removed default css, use tailwind*/



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
