@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {

  --color-primary: #3B413C;
  --color-secondary: #9DB5B2;
  --color-accent: #C4AEF1;
  --color-background: #EFEFEF;
  --color-content-background: #FFFFFF;
  --color-primary-700: oklch(0.35 0.02 140); 
  --font-heading: "Montserrat", "sans-serif"; 
  --font-body: "Roboto", "sans-serif";
}


/* Removed default css, use tailwind*/
